header {
  position: relative;
  background: url("../img/Background.jpg") no-repeat #6c7a7d;
}

header, #portfolio {
  @include wrapper;
  color: $light;
  text-align: center;
  background-size: cover;
  @include md(background-size,auto 100%);
  .menu__link{
    color: $light;
    &:hover {
      color: $accent;
    }
  }
  .line{
    border-bottom: 1px solid $light;
  }
}


.line {
  line-height: 0;
  @include md(display,none);
}

.logo {
  padding-top: 115px;
  @include md(padding-top,80px);
  @include sm(padding-top,50px);
  @include xs(padding-top,20px);
  text-align: center;
  .logo__image{
    max-width: 380px;
    margin: 0 auto;
  }
  .logo__title{
    font-family: "nexa",sans-serif;
    margin-top: 25px;
    font-size: 48px;
    @include sm-block{
      margin-top: 15px;
      font-size: 40px;
    }
    @include xs(font-size,28px);
    text-align: center;
    span{
      font-weight: bold;
    }
  }
}

