.scroll {
  margin-top: 77px;
  @include md(margin-top,45px);
  @include sm(margin-top,25px);
  @include md(margin-top,15px);
  .scroll__text{
    font-size: 14px;
    font-family: "nexa",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .scroll__image{
    margin: 15px 0 35px;
    display: inline-block;
    max-width: 25px;
    transition: all 0.1s linear;
    &:hover{
      transform: scale(1.1);
      transition: all 0.1s linear;
    }
  }
}